<div name='gloss_0-9' class='gloss_body'><ul>
  <li><a href='10-19-units--res2d'>10-19 Units [RES2D]</li>
  <li><a href='20-49-units--res2e'>20-49 Units [RES2E]</li>
  <li><a href='2-units--duplex--res2a'>2 Units (duplex) [RES2A]</li>
  <li><a href='3-4-units--res2b'>3-4 Units [RES2B]</li>
  <li><a href='50-units--res2f'>50+ Units [RES2F]</li>
  <li><a href='5-9-units--res2c'>5-9 Units [RES2C]</li>
</ul></div>
<div name='gloss_A' class='gloss_body'><ul>
  <li><a href='adjoining-building-on-one-side--bp1'>Adjoining building(s) on one side [BP1]</li>
  <li><a href='adjoining-buildings-on-three-sides--bp3'>Adjoining buildings on three sides [BP3]</li>
  <li><a href='adjoining-buildings-on-two-sides--bp2'>Adjoining buildings on two sides [BP2]</li>
  <li><a href='adobe-blocks--ado'>Adobe blocks [ADO]</li>
  <li><a href='agricultural-processing--agr3'>Agricultural processing [AGR3]</li>
  <li><a href='agriculture--agr'>Agriculture [AGR]</li>
  <li><a href='agriculture-unknown-type--agr99'>Agriculture, unknown type [AGR99]</li>
  <li><a href='airport--com10'>Airport [COM10]</li>
  <li><a href='animal-shelter--agr2'>Animal shelter [AGR2]</li>
  <li><a href='approximate-date-of-construction-or-retrofit--yapp'>Approximate date of construction or retrofit [YAPP]</li>
  <li><a href='approximate-height-of-ground-floor-level-above-grade--hfapp'>Approximate height of ground floor level above grade [HFAPP]</li>
  <li><a href='approximate-number-of-storeys-above-ground--happ'>Approximate number of storeys above ground [HAPP]</li>
  <li><a href='approximate-number-of-storeys-below-ground--hbapp'>Approximate number of storeys below ground [HBAPP]</li>
  <li><a href='arena--ass2'>Arena [ASS2]</li>
  <li><a href='assembly--ass'>Assembly [ASS]</li>
  <li><a href='assembly-unknown-type--ass99'>Assembly, unknown type [ASS99]</li>
</ul></div>
<div name='gloss_B' class='gloss_body'><ul>
  <li><a href='bamboo-cane-or-rope-reinforced--rb'>Bamboo, cane or rope reinforced [RB]</li>
  <li><a href='bamboo-straw-or-thatch-roof--rwo5'>Bamboo, straw or thatch roof [RWO5]</li>
  <li><a href='bamboo--wbb'>Bamboo [WBB]</li>
  <li><a href='basalt--spba'>Basalt [SPBA]</li>
  <li><a href='bolted-connections--bol'>Bolted connections [BOL]</li>
  <li><a href='braced-frame--lfbr'>Braced frame [LFBR]</li>
  <li><a href='building-occupancy-class-detail'>Building occupancy class - detail</li>
  <li><a href='building-occupancy-class-general'>Building occupancy class - general</li>
  <li><a href='building-position-within-a-block'>Building position within a block</li>
  <li><a href='bus-station--com8'>Bus station [COM8]</li>
</ul></div>
<div name='gloss_C' class='gloss_body'><ul>
  <li><a href='cast-in-place-beamless-reinforced-concrete-floor--fc1'>Cast-in-place beamless reinforced concrete floor [FC1]</li>
  <li><a href='cast-in-place-beamless-reinforced-concrete-roof--rc1'>Cast-in-place beamless reinforced concrete roof [RC1]</li>
  <li><a href='cast-in-place-beam-supported-reinforced-concrete-floor--fc2'>Cast-in-place beam-supported reinforced concrete floor [FC2] </li>
  <li><a href='cast-in-place-beam-supported-reinforced-concrete-roof--rc2'>Cast-in-place beam-supported reinforced concrete roof [RC2]</li>
  <li><a href='cast-in-place-concrete--cip'>Cast-in-place concrete [CIP]</li>
  <li><a href='cast-in-place-prestressed-concrete--cipps'>Cast-in-place prestressed concrete [CIPPS]</li>
  <li><a href='cement-based-boards--ewcb'>Cement-based boards for exterior walls [EWCB]</li>
  <li><a href='lime--cement-mortar--mocl'>Cement:lime mortar [MOCL]</li>
  <li><a href='cement-mortar--moc'>Cement mortar [MOC]</li>
  <li><a href='change-in-vertical-structure--include-large-overhangs--chv'>Change in vertical structure (includes large overhangs) [CHV]</li>
  <li><a href='cinema-or-concert-hall--ass3'>Cinema or concert hall [ASS3]</li>
  <li><a href='clay-or-concrete-tile--rmt1'>Clay or concrete tile roof covering [RMT1]</li>
  <li><a href='cob-or-wet-construction--etc'>Cob or wet construction [ETC]</li>
  <li><a href='cold-formed-steel-members--sl'>Cold-formed steel members [SL]</li>
  <li><a href='college-university-offices-and-or-classrooms--edu3'>College/university, offices and/or classrooms [EDU3]</li>
  <li><a href='college-university-research-facilities-and-or-labs--edu4'>College/university, research facilities and/or labs [EDU4]</li>
  <li><a href='commercial-and-public--com'>Commercial and public [COM]</li>
  <li><a href='commercial-and-public-unknown-type--com99'>Commercial and public, unknown type [COM99]</li>
  <li><a href='complex-irregular--rsh9'>Complex irregular [RSH9]</li>
  <li><a href='complex-regular--rsh8'>Complex regular [RSH8]</li>
  <li><a href='Composite-cast-in-place-reinforced-concrete-and-masonry-floor-system--fm3'>Composite cast-in-place reinforced concrete and masonry floor system [FM3]</li>
  <li><a href='composite-masonry-and-concrete-roof-system--rm3'>Composite masonry and concrete roof system [RM3]</li>
  <li><a href='composite-steel-deck-and-concrete-slab--fme3'>Composite steel floor deck and concrete slab [FME3]</li>
  <li><a href='composite-steel-deck-and-concrete-slab--rme3'>Composite steel roof deck and concrete slab [RME3]</li>
  <li><a href='concrete-blocks'>Concrete blocks</li>
  <li><a href='concrete-blocks-hollow--cbh'>Concrete blocks, hollow [CBH]</li>
  <li><a href='concrete-blocks-solid--cbs'>Concrete blocks, solid [CBS]</li>
  <li><a href='concrete-blocks-unknown-type--cb99'>Concrete blocks, unknown type [CB99]</li>
  <li><a href='concrete-composite-with-steel-sections--src'>Concrete, composite with steel section [SRC]</li>
  <li><a href='concrete'>Concrete</li>
  <li><a href='concrete--ewc'>Concrete exterior walls [EWC]</li>
  <li><a href='concrete--fc'>Concrete floor [FC]</li>
  <li><a href='concrete-unknown--fc99'>Concrete floor, unknown [FC99]</li>
  <li><a href='concrete-reinforced--cr'>Concrete, reinforced [CR]</li>
  <li><a href='concrete--rc'>Concrete roof [RC]</li>
  <li><a href='concrete-unknown--rc99'>Concrete roof, unknown [RC99]</li>
  <li><a href='concrete-roof-without-additional-covering--rmn'>Concrete roof without additional covering [RMN]</li>
  <li><a href='concrete-unknown-reinforcement--c99'>Concrete, unknown reinforcement [C99]</li>
  <li><a href='concrete-unreinforced--cu'>Concrete, unreinforced [CU]</li>
  <li><a href='covered-parking-garage--com7'>Covered parking garage [COM7]</li>
  <li><a href='cripple-wall--crw'>Cripple wall [CRW]</li>
  <li><a href='curved--rsh7'>Curved [RSH7]</li>
  <li><a href='curved-solid--plfc'>Curved, solid [PLFC]</li>
  <li><a href='circular-with-an-opening--plfco'>Curved, with an opening in plan [PLFCO]</li>
</ul></div>
<div name='gloss_D' class='gloss_body'><ul>
  <li><a href='date-of-construction'>Date of construction or retrofit</li>
  <li><a href='deep-foundation-no-lateral-capacity--fosdn'>Deep foundation, no lateral capacity [FOSDN]</li>
  <li><a href='deep-foundation-with-lateral-capacity--fosdl'>Deep foundation, with lateral capacity [FOSDL]</li>
  <li><a href='description-of-the-direction'>Description of the direction</li>
  <li><a href='detached-building--bpd'>Detached building [BPD]</li>
  <li><a href='direction'>Direction</li>
  <li><a href='direction-of-the-building'>Direction of the building</li>
  <li><a href='direction-x'>Direction X </li>
  <li><a href='direction-y'>Direction Y </li>
  <li><a href='dressed-stone--stdre'>Dressed stone [STDRE]</li>
  <li><a href='dual-frame-wall-system--ldual'>Dual frame-wall system [LDUAL]</li>
  <li><a href='ductile--duc'>Ductile [DUC]</li>
  <li><a href='ductility-unknown--du99'>Ductility unknown [DU99]</li>
</ul></div>
<div name='gloss_E' class='gloss_body'><ul>
  <li><a href='earth'>Earth</li>
  <li><a href='earthen-exterior-walls--ewe'>Earthen exterior walls [EWE]</li>
  <li><a href='earthen--fe'>Earthen floor [FE]</li>
  <li><a href='earthen-unknown--fe99'>Earthen floor, unknown [FE99]</li>
  <li><a href='earthen--rmt9'>Earthen roof covering [RMT9]</li>
  <li><a href='earthen--re'>Earthen roof [RE]</li>
  <li><a href='earthen-unknown--re99'>Earthen roof, unknown [RE99]</li>
  <li><a href='earth-reinforced--er'>Earth, reinforced [ER]</li>
  <li><a href='earth-technology-other--eto'>Earth technology, other [ETO]</li>
  <li><a href='earth-unknown-reinforcement--e99'>Earth, unknown reinforcement [E99]</li>
  <li><a href='earth-unreinforced--eu'>Earth, unreinforced [EU]</li>
  <li><a href='education--edu'>Education [EDU]</li>
  <li><a href='education-unknown-type--edu99'>Education, unknown type [EDU99]</li>
  <li><a href='entertainment--com5'>Entertainment [COM5]</li>
  <li><a href='equipped-with-base-isolation-and-or-energy-dissipation-devices--dbd'>Equipped with base isolation and/or energy dissipation devices [DBD]</li>
  <li><a href='e-shape--plfe'>E-shape [PLFE]</li>
  <li><a href='exact-date-of-construction-or-retrofit--yex'>Exact date of construction or retrofit [YEX]</li>
  <li><a href='exact-height-of-ground-floor-level-above-grade--hfex'>Exact height of ground floor level above grade [HFEX]</li>
  <li><a href='exact-number-of-storeys-above-ground--hex'>Exact number of storeys above ground [HEX]</li>
  <li><a href='exact-number-of-storeys-below-ground--hbex'>Exact number of storeys below ground [HBEX]</li>
  <li><a href='exterior-walls'>Exterior walls</li>
</ul></div>
<div name='gloss_F' class='gloss_body'><ul>
  <li><a href='fabric--rfa'>Fabric [RFA]</li>
  <li><a href='fabric-other--rfao'>Fabric roof, other [RFAO]</li>
  <li><a href='fibre-cement-or-metal-tile--rmt2'>Fibre cement or metal tile roof covering [RMT2]</li>
  <li><a href='fibre-reinforcing-mesh--rcm'>Fibre reinforcing mesh [RCM]</li>
  <li><a href='fired-clay-brick'>Fired clay</li>
  <li><a href='fired-clay-hollow-blocks-or-tiles--clblh'>Fired clay hollow blocks or tiles [CLBLH]</li>
  <li><a href='fired-clay-hollow-bricks--clbrh'>Fired clay hollow bricks [CLBRH]</li>
  <li><a href='fired-clay-solid-bricks--clbrs'>Fired clay solid bricks [CLBRS]</li>
  <li><a href='fired-clay-unit-unknown-type--cl99'>Fired clay unit, unknown type [CL99]</li>
  <li><a href='flat--rsh1'>Flat [RSH1]</li>
  <li><a href='flat-slab-plate-or-waffle-slab--lfls'>Flat slab/plate or waffle slab [LFLS]</li>
  <li><a href='floor-connections'>Floor connections</li>
  <li><a href='floor'>Floor</li>
  <li><a href='floor-material-other--fo'>Floor material, other [FO]</li>
  <li><a href='floor-material-unknown--f99'>Floor material, unknown [F99]</li>
  <li><a href='floor-system-material'>Floor system material</li>
  <li><a href='floor-system-type'>Floor system type</li>
  <li><a href='floor-wall-diaphragm-connection-not-provided--fwcn'>Floor-wall diaphragm connection not provided [FWCN]</li>
  <li><a href='floor-wall-diaphragm-connection-present--fwcp'>Floor-wall diaphragm connection present [FWCP]</li>
  <li><a href='floor-wall-diaphragm-connection-unknown--fwc99'>Floor-wall diaphragm connection unknown [FWC99]</li>
  <li><a href='foundation-other--foso'>Foundation, other [FOSO]</li>
  <li><a href='foundation-system'>Foundation System</li>
</ul></div>
<div name='gloss_G' class='gloss_body'><ul>
  <li><a href='glass--ewg'>Glass exterior walls [EWG]</li>
  <li><a href='government-emergency-response--gov2'>Government emergency response [GOV2]</li>
  <li><a href='government-general-services--gov1'>Government general services [GOV1]</li>
  <li><a href='government--gov'>Government [GOV]</li>
  <li><a href='government-unknown-type--gov99'>Government, unknown type [GOV99]</li>
  <li><a href='granite--spgr'>Granite [SPGR]</li>
  <li><a href='ground-floor'>Ground floor</li>
</ul></div>
<div name='gloss_H' class='gloss_body'><ul>
  <li><a href='heavy-industrial--ind1'>Heavy Industrial [IND1]</li>
  <li><a href='heavy-wood--whe'>Heavy wood [WHE]</li>
  <li><a href='height'>Height</li>
  <li><a href='height-of-ground-floor-level-above-grade--hf'>Height of ground floor level above grade [HF]</li>
  <li><a href='height-of-ground-floor-level-above-grade-unknown--hf99'>Height of ground floor level above grade unknown [HF99]</li>
  <li><a href='hospital-medical-clinic--com4'>Hospital/medical clinic [COM4]</li>
  <li><a href='hot-rolled-steel-members--sr'>Hot-rolled steel members [SR]</li>
  <li><a href='h-shape--plfh'>H-shape [PLFH]</li>
  <li><a href='hybrid-lateral-load-resisting-system--lh'>Hybrid lateral load-resisting system [LH]</li>
</ul></div>
<div name='gloss_I' class='gloss_body'><ul>
  <li><a href='industrial--ind'>Industrial [IND]</li>
  <li><a href='industrial-unknown-type--ind99'>Industrial, unknown type [IND99]</li>
  <li><a href='infilled-flat-slab-plate-or-infilled-waffle-slab--lflsinf'>Infilled flat slab/plate or infilled waffle slab [LFLSINF]</li>
  <li><a href='infilled-frame'>Infilled Frame</li>
  <li><a href='infilled-frame--lfinf'>Infilled frame [LFINF]</li>
  <li><a href='inflatable-or-tensile-membrane-roof--rfa1'>Inflatable or tensile membrane roof [RFA1]</li>
  <li><a href='informal-housing--res6'>Informal housing [RES6]</li>
  <li><a href='institutional-housing--res4'>Institutional housing [RES4]</li>
  <li><a href='iron--meir'>Iron [MEIR]</li>
  <li><a href='irregular-plan-shape--plfi'>Irregular plan shape [PLFI]</li>
  <li><a href='irregular-structure--irir'>Irregular structure [IRIR]</li>
</ul></div>
<div name='gloss_L' class='gloss_body'><ul>
  <li><a href='lateral-load-resisting-system'>Lateral load-resisting system</li>
  <li><a href='Latest-possible-date-of-construction-or-retrofit--ypre'>Latest possible date of construction or retrofit [YPRE]</li>
  <li><a href='light-industrial--ind2'>Light industrial [IND2]</li>
  <li><a href='light-timber-members--wli'>Light wood members [WLI]</li>
  <li><a href='lime-mortar--mol'>Lime mortar [MOL]</li>
  <li><a href='limestone--spli'>Limestone [SPLI]</li>
  <li><a href='l-shape--plfl'>L-shape [PLFL]</li>
</ul></div>
<div name='gloss_M' class='gloss_body'><ul>
  <li><a href='masonry-confined--mcf'>Masonry, confined [MCF]</li>
  <li><a href='masonry--ewma'>Masonry exterior walls [EWMA]</li>
  <li><a href='masonry--fm'>Masonry floor [FM]</li>
  <li><a href='masonry-unknown--fm99'>Masonry floor, unknown [FM99]</li>
  <li><a href='masonry-reinforced--mr'>Masonry, reinforced [MR]</li>
  <li><a href='masonry-reinforcement-unknown--mr99'>Masonry reinforcement, unknown [MR99]</li>
  <li><a href='masonry--rm'>Masonry roof [RM]</li>
  <li><a href='masonry-unknown--rm99'>Masonry roof, unknown [RM99]</li>
  <li><a href='masonry-unit-other--mo'>Masonry unit, other [MO]</li>
  <li><a href='masonry-unit-unknown--mun99'>Masonry unit, unknown [MUN99]</li>
  <li><a href='masonry-unknown-reinforcement--m99'>Masonry, unknown reinforcement [M99]</li>
  <li><a href='masonry-unreinforced--mur'>Masonry, unreinforced [MUR]</li>
  <li><a href='material-of-exterior-wall-other--ewo'>Material of exterior walls, other [EWO]</li>
  <li><a href='material-of-the-lateral-load-resisting-system'>Material of the lateral load-resisting system</li>
  <li><a href='material-properties'>Material properties</li>
  <li><a href='material-technology'>Material technology</li>
  <li><a href='material-type'>Material type</li>
  <li><a href='membrane-roofing--rmt3'>Membrane roof covering [RMT3]</li>
  <li><a href='metal-beams-or-trusses-supporting-light-roofing--rme1'>Metal beams or trusses supporting light roofing [RME1]</li>
  <li><a href='metal-beams-trusses-or-joists-supporting-light-flooring--fme1'>Metal beams, trusses or joists supporting light flooring [FME1]</li>
  <li><a href='metal--except-steel--me'>Metal (except steel) [ME]</li>
  <li><a href='metal-ewme--weme'>Metal exterior walls [EWME]</li>
  <li><a href='metal-beams-supporting-precast-concrete-slabs--fme2'>Metal floor beams supporting precast concrete slabs [FME2]</li>
  <li><a href='metal--fme'>Metal floor [FME]</li>
  <li><a href='metal-unknown--fme99'>Metal floor, unknown [FME99]</li>
  <li><a href='metal-or-asbestos-sheets--rmt6'>Metal or asbestos sheets [RMT6]</li>
  <li><a href='metal-other--meo'>Metal, other [MEO]</li>
  <li><a href='metal-beams-supporting-precast-concrete-slabs--rme2'>Metal roof beams supporting precast concrete slabs [RME2]</li>
  <li><a href='metal--rme'>Metal roof [RME]</li>
  <li><a href='metal-unknown--rme99'>Metal roof, unknown [RME99]</li>
  <li><a href='metal-unknown--me99'>Metal, Unknown [ME99]</li>
  <li><a href='mixed-unknown-type--mix99'>Mixed, unknown type [MIX99]</li>
  <li><a href='mixed-use--mix'>Mixed use [MIX]</li>
  <li><a href='mobile-home--res5'>Mobile home [RES5]</li>
  <li><a href='moment-frame--lfm'>Moment frame [LFM]</li>
  <li><a href='monopitch--rsh5'>Monopitch [RSH5]</li>
  <li><a href='mortar'>Mortar</li>
  <li><a href='mortar-type-unknown--mo99'>Mortar type unknown [MO99]</li>
  <li><a href='mostly-commercial-and-industrial--mix3'>Mostly commercial and industrial [MIX3]</li>
  <li><a href='mostly-commercial-and-residential--mix2'>Mostly commercial and residential [MIX2]</li>
  <li><a href='mostly-industrial-and-commercial--mix5'>Mostly industrial and commercial [MIX5]</li>
  <li><a href='mostly-industrial-and-residential--mix6'>Mostly industrial and residential [MIX6]</li>
  <li><a href='mostly-residential-and-commercial--mix1'>Mostly residential and commercial [MIX1]</li>
  <li><a href='mostly-residential-and-industrial--mix4'>Mostly residential and industrial [MIX4]</li>
  <li><a href='mud-mortar--mom'>Mud mortar [MOM]</li>
  <li><a href='multi-unit-unknown-type--res2'>Multi-unit, unknown type [RES2]</li>
</ul></div>
<div name='gloss_N' class='gloss_body'><ul>
  <li><a href='no-elevated-or-suspended-floor-material--fn'>No elevated or suspended floor material [FN]</li>
  <li><a href='no-irregularity--irn'>No irregularity [IRN]</li>
  <li><a href='no-lateral-load-resisting-system--ln'>No lateral load-resisting system [LN]</li>
  <li><a href='no-mortar--mon'>No mortar [MON]</li>
  <li><a href='non-ductile--dno'>Non-ductile [DNO]</li>
  <li><a href='number-of-storeys-above-ground--h'>Number of storeys above ground [H]</li>
  <li><a href='number-of-storeys-below-ground--hb'>Number of storeys below ground [HB]</li>
  <li><a href='number-of-storeys-below-ground-unknown--hb99'>Number of storeys below ground unknown [HB99]</li>
  <li><a href='number-of-storeys'>Number of storeys</li>
  <li><a href='number-of-stories-unknown--h99'>Number of storeys unknown [H99]</li>
</ul></div>
<div name='gloss_O' class='gloss_body'><ul>
  <li><a href='occupancy'>Occupancy</li>
  <li><a href='offices-professional-technical-services--com3'>Offices, professional/technical services [COM3]</li>
  <li><a href='other-gatherings--ass4'>Other gatherings [ASS4]</li>
  <li><a href='other-lateral-load-resisting-system--lo'>Other lateral load-resisting system [LO]</li>
  <li><a href='other-material--mato'>Other material [MATO]</li>
  <li><a href='other-occupancy-type--oco'>Other occupancy type [OCO]</li>
  <li><a href='other-horizontal-irregularity--irho'>Other plan irregularity [IRHO]</li>
  <li><a href='other-vertical-irregularity--irvo'>Other vertical irregularity [IRVO]</li>
</ul></div>
<div name='gloss_P' class='gloss_body'><ul>
  <li><a href='parallel-to-street--pf'>Parallel to street [PF]</li>
  <li><a href='perpendicular-to-street--of'>Perpendicular to street [OF]</li>
  <li><a href='pitched-and-hipped--rsh3'>Pitched and hipped [RSH3]</li>
  <li><a href='pitched-with-dormers--rsh4'>Pitched with dormers [RSH4]</li>
  <li><a href='pitched-with-gable-ends--rsh2'>Pitched with gable ends [RSH2]</li>
  <li><a href='plan-irregularity-or-vertical-irregularity'>Plan irregularity or vertical irregularity</li>
  <li><a href='plan-irregularity-primary--irpp'>Plan irregularity-primary [IRPP]</li>
  <li><a href='plan-irregularity-secondary--irps'>Plan irregularity-secondary [IRPS]</li>
  <li><a href='plastic-vinyl-various--ewpl'>Plastic/vinyl exterior walls, various [EWPL]</li>
  <li><a href='plywood-panels-or-other-light-weight-panels-for-floor--fw4'>Plywood panels or other light-weight panels for floor [FW4]</li>
  <li><a href='plywood-panels-or-other-light-weight-panels-for-roof--rwo4'>Plywood panels or other light-weight panels for roof [RWO4]</li>
  <li><a href='polygonal-solid--plfp'>Polygonal, solid (e.g. trapezoid, pentagon, hexagon) [PLFP]</li>
  <li><a href='polygonal-with-an-opening-in-plan--plfpo'>Polygonal, with an opening in plan [PLFPO]</li>
  <li><a href='post-and-beam--lpb'>Post and beam [LPB]</li>
  <li><a href='pounding-potential--pop'>Pounding potential [POP]</li>
  <li><a href='precast-concrete-floor-without-reinforced-concrete-topping--fc4'>Precast concrete floor without reinforced concrete topping [FC4]</li>
  <li><a href='precast-concrete-floor-with-reinforced-concrete-topping--fc3'>Precast concrete floor with reinforced concrete topping [FC3]</li>
  <li><a href='precast-concrete--pc'>Precast concrete [PC]</li>
  <li><a href='precast-concrete-roof-system-without-reinforced-concrete-topping--rc4'>Precast concrete roof without reinforced concrete topping [RC4]</li>
  <li><a href='precast-concrete-roof-system-with-reinforced-concrete-topping--rc3'>Precast concrete roof with reinforced concrete topping [RC3]</li>
  <li><a href='precast-prestressed-concrete--pcps'>Precast prestressed concrete [PCPS]</li>
  <li><a href='pre-school-facility--edu1'>Pre-school facility [EDU1]</li>
  <li><a href='produce-storage--agr1'>Produce storage [AGR1]</li>
  <li><a href='public-building--com6'>Public building [COM6]</li>
</ul></div>
<div name='gloss_R' class='gloss_body'><ul>
  <li><a href='railway-station--com9'>Railway station [COM9]</li>
  <li><a href='rammed-earth--etr'>Rammed earth [ETR]</li>
  <li><a href='range-of-height-of-ground-floor-level-above-grade--hfbet'>Range of height of ground floor level above grade [HFBET]</li>
  <li><a href='range-of-number-of-storeys-above-ground--hbet'>Range of number of storeys above ground [HBET]</li>
  <li><a href='range-of-number-of-storeys-below-ground--hbbet'>Range of number of storeys below ground [HBBET]</li>
  <li><a href='recreation-and-leisure--com11'>Recreation and leisure [COM11]</li>
  <li><a href='rectangular-solid--plfr'>Rectangular, solid [PLFR]</li>
  <li><a href='rectangular-with-an-opening--plfro'>Rectangular, with an opening in plan [PLFRO]</li>
  <li><a href='re-entrant-corner--rec'>Re-entrant corner [REC]</li>
  <li><a href='regular-or-irregular'>Regular or irregular</li>
  <li><a href='regular-structure--irre'>Regular structure [IRRE]</li>
  <li><a href='reinforced-concrete-bands--rcb'>Reinforced concrete bands [RCB]</li>
  <li><a href='religious-gathering--ass1'>Religious gathering [ASS1]</li>
  <li><a href='residential--res'>Residential [RES]</li>
  <li><a href='residential-unknown-type--res99'>Residential, unknown type [RES99]</li>
  <li><a href='retail-trade--com1'>Retail trade [COM1]</li>
  <li><a href='riveted-connections--riv'>Riveted connections [RIV]</li>
  <li><a href='roof-connections'>Roof connections</li>
  <li><a href='roof-covering-other--rmto'>Roof covering, other [RMTO]</li>
  <li><a href='roof-covering'>Roof covering</li>
  <li><a href='roof-material-other--ro'>Roof material, other [RO]</li>
  <li><a href='roof-material-unknown--r99'>Roof material, unknown [R99]</li>
  <li><a href='roof'>Roof</li>
  <li><a href='roof-shape-other--rsho'>Roof shape, other [RSHO]</li>
  <li><a href='roof-shape'>Roof shape</li>
  <li><a href='roof-system-material'>Roof system material</li>
  <li><a href='roof-system-type'>Roof system type</li>
  <li><a href='roof-tie-down-not-provided--rtdn'>Roof tie-down not provided [RTDN]</li>
  <li><a href='roof-tie-down-present--rtdp'>Roof tie-down present [RTDP]</li>
  <li><a href='roof-tie-down-unknown--rtd99'>Roof tie-down unknown [RTD99]</li>
  <li><a href='roof-wall-diaphragm-connection-not-provided--rwcn'>Roof-wall diaphragm connection not provided [RWCN]</li>
  <li><a href='roof-wall-diaphragm-connection-present--rwcp'>Roof-wall diaphragm connection present [RWCP]</li>
  <li><a href='roof-wall-diaphragm-connection-unknown--rwc99'>Roof-wall diaphragm connection unknown [RWC99]</li>
  <li><a href='rubble-field-stone-or-semi-dressed-stone--strub'>Rubble (field stone) or semi-dressed stone [STRUB]</li>
</ul></div>
<div name='gloss_S' class='gloss_body'><ul>
  <li><a href='sandstone--spsa'>Sandstone [SPSA]</li>
  <li><a href='sawtooth--rsh6'>Sawtooth [RSH6]</li>
  <li><a href='school--edu2'>School [EDU2]</li>
  <li><a href='setback--set'>Setback [SET]</li>
  <li><a href='shallow-arched-masonry-floor--fm2'>Shallow-arched masonry floor [FM2]</li>
  <li><a href='shallow-arched-masonry--rm2'>Shallow-arched masonry roof [RM2]</li>
  <li><a href='shallow-foundation-no-lateral-capacity--fosn'>Shallow foundation, no lateral capacity [FOSN]</li>
  <li><a href='shallow-foundation-with-lateral-capacity--fossl'>Shallow foundation, with lateral capacity [FOSSL]</li>
  <li><a href='shape-of-the-building-plan'>Shape of the building plan</li>
  <li><a href='short-column--shc'>Short column [SHC]</li>
  <li><a href='single-dwelling--res1'>Single dwelling [RES1]</li>
  <li><a href='slate--rmt4'>Slate roof covering [RMT4]</li>
  <li><a href='slate--spsl'>Slate [SPSL]</li>
  <li><a href='slope-of-the-ground-general'>Slope of the ground - general</li>
  <li><a href='slope-of-the-ground--hd'>Slope of the ground [HD]</li>
  <li><a href='slope-of-the-ground-unknown--hd99'>Slope of the ground unknown [HD99]</li>
  <li><a href='soft-storey--sos'>Soft storey [SOS]</li>
  <li><a href='solar-panelled-roofs--rmt10'>Solar panelled roofs [RMT10]</li>
  <li><a href='solid-wood--ws'>Solid wood [WS]</li>
  <li><a href='square-solid--plfsq'>Square, solid [PLFSQ]</li>
  <li><a href='square-with-an-interior-opening--plfsqo'>Square, with an opening in plan [PLFSQO]</li>
  <li><a href='s-shape--plfs'>S-shape [PLFS]</li>
  <li><a href='steel-connections-unknown--sc99'>Steel connections, unknown [SC99]</li>
  <li><a href='steel-other--so'>Steel, other [SO]</li>
  <li><a href='steel-reinforced--rs'>Steel-reinforced [RS]</li>
  <li><a href='steel--s'>Steel [S]</li>
  <li><a href='steel-unknown--s99'>Steel, unknown [S99]</li>
  <li><a href='stone-masonry'>Stone masonry</li>
  <li><a href='stone-other-type--spo'>Stone, other type [SPO]</li>
  <li><a href='stone-slab--rmt5'>Stone slab roof covering [RMT5]</li>
  <li><a href='stone-masonry-unknown-type--st99'>Stone, unknown technology [ST99]</li>
  <li><a href='stone-unknown-type--sp99'>Stone, unknown type [SP99]</li>
  <li><a href='structural-irregularity'>Structural irregularity</li>
  <li><a href='stucco-finish-on-light-framing--ewsl'>Stucco finish on light framing for exterior walls [EWSL]</li>
  <li><a href='system-ductility'>System ductility</li>
</ul></div>
<div name='gloss_T' class='gloss_body'><ul>
  <li><a href='temporary-lodging--res3'>Temporary lodging [RES3]</li>
  <li><a href='tensile-membrane-or-fabric-roof--rmt11'>Tensile membrane or fabric roof [RMT11]</li>
  <li><a href='torsion-eccentricity--tor'>Torsion eccentricity [TOR]</li>
  <li><a href='triangular-shape-solid--plfd'>Triangular, solid [PLFD]</li>
  <li><a href='triangular-shape-with-an-opening--plfdo'>Triangular, with an opening in plan [PLFDO]</li>
  <li><a href='t-shape--plft'>T-shape [PLFT]</li>
  <li><a href='tuff--sptu'>Tuff [SPTU]</li>
  <li><a href='type-of-irregularity'>Type of irregularity</li>
  <li><a href='type-of-lateral-load-resisting-system'>Type of lateral load-resisting system</li>
</ul></div>
<div name='gloss_U' class='gloss_body'><ul>
  <li><a href='unknown-concrete-technology--ct99'>Unknown concrete technology [CT99]</li>
  <li><a href='unknown-earth-technology--et99'>Unknown earth technology [ET99]</li>
  <li><a href='unknown-foundation-system--fos99'>Unknown foundation system [FOS99]</li>
  <li><a href='unknown-lateral-load-resisting-system--l99'>Unknown lateral load-resisting system [L99]</li>
  <li><a href='unknown-material--mat99'>Unknown material [MAT99]</li>
  <li><a href='unknown-material--ew99'>Unknown material of exterior walls [EW99]</li>
  <li><a href='unknown-occupancy-type--oc99'>Unknown occupancy type [OC99]</li>
  <li><a href='unknown-plan-shape--plf99'>Unknown plan shape [PLF99]</li>
  <li><a href='unknown-roof-covering--rmt99'>Unknown roof covering [RMT99]</li>
  <li><a href='unknown-roof-shape--rsh99'>Unknown roof shape [RSH99]</li>
  <li><a href='unknown-structural-irregularity--ir99'>Unknown structural irregularity [IR99]</li>
  <li><a href='unspecified-direction--d99'>Unspecified direction [D99]</li>
  <li><a href='u-shape--plfu'>U- or C-shape [PLFU]</li>
  <li><a href='Upper-and-lower-bound-for-the-date-of-construction-or-retrofit--ybet'>Upper and lower bound for the date of construction or retrofit [YBET]</li>
</ul></div>
<div name='gloss_V' class='gloss_body'><ul>
  <li><a href='vaulted-earthen-roofs--re1'>Vaulted earthen roofs [RE1]</li>
  <li><a href='vaulted-masonry--fm1'>Vaulted masonry floor [FM1]</li>
  <li><a href='vaulted-masonry--rm1'>Vaulted masonry roof [RM1]</li>
  <li><a href='vegetative--ewv'>Vegetative exterior walls [EWV]</li>
  <li><a href='vegetative--rmt8'>Vegetative roof covering [RMT8]</li>
  <li><a href='vertical-structural-irregularity-primary--irvp'>Vertical structural irregularity - primary [IRVP]</li>
  <li><a href='vertical-structural-irregularity-secondary--irvs'>Vertical structural irregularity - secondary [IRVS]</li>
</ul></div>
<div name='gloss_W' class='gloss_body'><ul>
  <li><a href='wall--lwal'>Wall [LWAL]</li>
  <li><a href='wattle-and-daub--wwd'>Wattle and daub [WWD]</li>
  <li><a href='welded-connections--wel'>Welded connections [WEL]</li>
  <li><a href='wholesale-trade-and-storage--com2'>Wholesale trade and storage (warehouse) [COM2]</li>
  <li><a href='wood-based-sheets-on-joists-for-floor--fw3'>Wood-based sheets on joists or beams [FW3]</li>
  <li><a href='wood-based-sheets-on-rafters-or-purlins--rwo3'>Wood-based sheets on rafters or purlins [RWO3]</li>
  <li><a href='wooden-beams-or-trusses-and-joists-supporting-heavy-flooring--fw2'>Wooden beams or trusses and joists supporting heavy flooring [FW2]</li>
  <li><a href='wooden-beams-or-trusses-and-joists-supporting-light-flooring--fw1'>Wooden beams or trusses and joists supporting light flooring [FW1]</li>
  <li><a href='wooden-beams-or-trusses-with-heavy-roof-covering--rwo2'>Wooden beams or trusses with heavy roof covering [RWO2]</li>
  <li><a href='wood--eww'>Wooden exterior walls [EWW]</li>
  <li><a href='wood--fw'>Wooden floor [FW]</li>
  <li><a href='wood-unknown--fw99'>Wooden floor, unknown [FW99]</li>
  <li><a href='wooden-and-asphalt-shingles--rmt7'>Wooden or asphalt shingle roof covering [RMT7]</li>
  <li><a href='wood-unknown--rwo99'>Wooden roof, unknown [RWO99]</li>
  <li><a href='wooden-structure-with-light-roof-covering--rwo1'>Wooden structure with light roof covering [RWO1]</li>
  <li><a href='wood-other--wo'>Wood, other [WO]</li>
  <li><a href='wood-reinforced--rw'>Wood-reinforced [RW]</li>
  <li><a href='wood--rwo'>Wood [RWO]</li>
  <li><a href='wood-unknown--w99'>Wood, unknown [W99]</li>
  <li><a href='wood--w'>Wood [W]</li>
</ul></div>
<div name='gloss_X' class='gloss_body'><ul>
  <li><a href='x-shape--plfx'>X-shape [PLFX]</li>
</ul></div>
<div name='gloss_Y' class='gloss_body'><ul>
  <li><a href='year-unknown--y99'>Year unknown [Y99]</li>
  <li><a href='y-shape--plfy'>Y-shape [PLFY]</li>
</ul></div>
