<div>
<button class='gloss_head' data_letter='0-9' type='button'>0-9</button>
<button class='gloss_head' data_letter='A' type='button'>A</button>
<button class='gloss_head' data_letter='B' type='button'>B</button>
<button class='gloss_head' data_letter='C' type='button'>C</button>
<button class='gloss_head' data_letter='D' type='button'>D</button>
<button class='gloss_head' data_letter='E' type='button'>E</button>
<button class='gloss_head' data_letter='F' type='button'>F</button>
<button class='gloss_head' data_letter='G' type='button'>G</button>
<button class='gloss_head' data_letter='H' type='button'>H</button>
<button class='gloss_head' data_letter='I' type='button'>I</button>
<button class='gloss_head' data_letter='L' type='button'>L</button>
<button class='gloss_head' data_letter='M' type='button'>M</button>
<button class='gloss_head' data_letter='N' type='button'>N</button>
<button class='gloss_head' data_letter='O' type='button'>O</button>
<button class='gloss_head' data_letter='P' type='button'>P</button>
<button class='gloss_head' data_letter='R' type='button'>R</button>
<button class='gloss_head' data_letter='S' type='button'>S</button>
<button class='gloss_head' data_letter='T' type='button'>T</button>
<button class='gloss_head' data_letter='U' type='button'>U</button>
<button class='gloss_head' data_letter='V' type='button'>V</button>
<button class='gloss_head' data_letter='W' type='button'>W</button>
<button class='gloss_head' data_letter='X' type='button'>X</button>
<button class='gloss_head' data_letter='Y' type='button'>Y</button>
</div>
